{% extends 'sub_base.html.twig' %}

{% block title %}Genre{% endblock %}
{% block subtitle %}Genres{% endblock %}
{% block subnav %}
    <a class="btn btn-primary" href="{{ path('genre_new') }}">Ajouter un nouveau genre</a>
{% endblock %}
{% block body %}
    <div class="table-responsive table-bordered">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td><strong>{{ genre.id }}</strong></td>
                    <td>{{ genre.nom }}</td>
                    <td>
                        <div class="btn-group me-2">
                            <a class="btn btn-primary" href="{{ path('genre_show', {'id': genre.id}) }}">Voir</a>
                            <a class="btn btn-secondary" href="{{ path('genre_edit', {'id': genre.id}) }}">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de genre trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
