{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre Liste</h1>

    <div class="livre-filter" data-controller="livre">
        <button type="button" class="btn btn-primary" data-action="livre#toggle">Filtre</button>
        <div id="filter_elements" class="card">
            <div class="card-header">
                Filter
            </div>
            <div class="card-body container">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">{{ button_label|default('Filter') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Titre</th>
                <th>Nombre de pages</th>
                <th>Date de parution</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nbpages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.note }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('livre_show', {'id': livre.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('livre_edit', {'id': livre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de Livre trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('livre_new') }}">Ajouter un nouveau Livre</a>
{% endblock %}
