{% extends 'base.html.twig' %}

{% block title %}Editer Auteur{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ auteur.nomPrenom }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-primary" href="{{ path('auteur_index') }}">Retour</a>
            </div>
            {{ include('auteur/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('auteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="card bg-dark mt-4">
        <div class="card-body">
            {{ form_start(form_increment) }}
                {{ form_widget(form_increment) }}
                <button class="btn btn-primary">{{ button_label|default('Incrémenter les notes') }}</button>
            {{ form_end(form_increment) }}
        </div>
    </div>
{% endblock %}
