{% extends 'sub_base.html.twig' %}

{% block title %}Auteur{% endblock %}
{% block subtitle %}{{ auteur.nomPrenom }}{% endblock %}
{% block subnav %}
    <div class="btn-group me-2">
        <a class="btn btn-primary" href="{{ path('auteur_index') }}">Retour</a>
        <a class="btn btn-primary" href="{{ path('auteur_edit', {'id': auteur.id}) }}">Modifier</a>
    </div>
    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {% set nomPrenom = auteur.nomPrenom | split(' ') %}
    {% set genres = [] %}
    {% for livre in auteur.livres|sort((a, b) => a.dateDeParution <=> b.dateDeParution) %}
        {% for genre in livre.genres %}
            {% if genre not in genres %}
                {% set genres = genres|merge([genre]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ auteur.id }}</td>
            </tr>
            {% if nomPrenom|length > 1 %}
                <tr>
                    <th>Nom</th>
                    <td>{{ nomPrenom[1] }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ nomPrenom[0] }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Nom et Prénom</th>
                    <td>{{ nomPrenom[0] }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|format_datetime('full', 'none', locale='fr') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
            {% if auteur.livres is not empty %}
            <tr>
                <th>Livres</th>
                <td>
                    <ul class="list-group">
                        {% for livre in auteur.livres %}
                            <li class="list-group-item">
                                <a href="{{ path('livre_show', {'id': livre.id}) }}">{{ livre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if genres is not empty %}
                <tr>
                    <th>Genres écrit</th>
                    <td>
                        <ul class="list-group">
                            {% for genre in genres %}
                                <li class="list-group-item">
                                    <a href="{{ path('genre_show', {'id': genre.id}) }}">{{ genre }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
