{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom Prénom</th>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('auteur_index') }}">Retour vers la liste</a>

    <a class="btn btn-primary" href="{{ path('auteur_edit', {'id': auteur.id}) }}">Editer</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
